################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
src/.vs
src/.vs/config/applicationhost.config
*.bak
*.cache
*.dbmdl
*.jfm
*.user
*.suo
*.vspscc
src/MSC.ConferenceMate.API/developer_config.json
src/packages
src/CodeGenHero/bin 
src/CodeGenHero/obj
src/MSC.ConferenceMate.API/bin
src/MSC.ConferenceMate.API/obj
src/MSC.ConferenceMate.API.Test/bin
src/MSC.ConferenceMate.API.Test/obj
src/MSC.ConferenceMate.Constants/bin
src/MSC.ConferenceMate.Constants/obj
src/MSC.ConferenceMate.DataService/bin
src/MSC.ConferenceMate.DataService/obj
src/MSC.ConferenceMate.Domain/bin
src/MSC.ConferenceMate.Domain/obj
src/MSC.ConferenceMate.DTO/bin
src/MSC.ConferenceMate.DTO/obj
src/MSC.ConferenceMate.Model/bin
src/MSC.ConferenceMate.Model/obj
src/MSC.ConferenceMate.Repository/bin
src/MSC.ConferenceMate.Repository/obj
src/MSC.ConferenceMate.Database/bin
src/MSC.ConferenceMate.Database/obj
src/MSC.ConferenceMate.Web/bin
src/MSC.ConferenceMate.Web/obj
src/MSC.ConferenceMate.Web.Tests/bin
src/MSC.ConferenceMate.Web.Tests/obj
src/MSC.ConferenceMate.Xam/ConferenceMate/bin
src/MSC.ConferenceMate.Xam/ConferenceMate/obj
src/MSC.ConferenceMate.Xam/ConferenceMate.Android/bin
src/MSC.ConferenceMate.Xam/ConferenceMate.Android/obj
src/MSC.ConferenceMate.Xam/ConferenceMate.iOS/bin
src/MSC.ConferenceMate.Xam/ConferenceMate.iOS/obj
src/MSC.ConferenceMate.Xam/ConferenceMate.UWP/bin
src/MSC.ConferenceMate.Xam/ConferenceMate.UWP/obj
src/MSC.CM.Xam/bin
src/MSC.CM.Xam/obj
src/MSC.ConferenceMate.Xam/bin
src/MSC.ConferenceMate.Xam/obj
src/MSC.CM.XaSh/MSC.CM.XaSh/bin
src/MSC.CM.XaSh/MSC.CM.XaSh/obj
src/MSC.CM.XaSh/MSC.CM.XaSh.Android/bin
src/MSC.CM.XaSh/MSC.CM.XaSh.Android/obj
src/MSC.CM.XaSh/MSC.CM.XaSh.iOS/bin
src/MSC.CM.XaSh/MSC.CM.XaSh.iOS/obj
src/MSC.CM.XaSh/MSC.CM.XaSh/MSC.CM.XaSh/bin
src/MSC.CM.XaSh/MSC.CM.XaSh/MSC.CM.XaSh/obj
src/MSC.CM.XaSh/MSC.CM.XaSh-Test/bin
src/MSC.CM.XaSh/MSC.CM.XaSh-Test/obj
src/MSC.CM.XaSh/MSC.CM.XaSh/MSC.CM.XaSh.Android/bin
src/MSC.CM.XaSh/MSC.CM.XaSh/MSC.CM.XaSh.Android/obj
src/MSC.CM.XaSh/MSC.CM.XaSh/MSC.CM.XaSh.iOS/bin
src/MSC.CM.XaSh/MSC.CM.XaSh/MSC.CM.XaSh.iOS/obj
